<!DOCTYPE html>

{% load staticfiles %}
{% load static %}

<html lang="en">
<head>
  <title>Prelaunch</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="{% static 'css/general.css' %}">

</head>
<body>
		{% if user and not user.is_anonymous %}
			<a>Hello, {{ user.get_full_name }}!</a>
		  	<br>
		  	<a href="/logout">Logout</a>
		{% else %}
			<div class="banner" style="background-image: url({% static 'images/banner.jpg' %}); position: relative; width: 1500px; left: -110px ">
			<div class="container">
			    <div class="col-md-6"> 
			    <center>
			    	<h1 style="padding-top: 50px"> PRODUCTO XYZ</h1> 
			    	<h3 style="padding-top: 50px"> Nuevo producto xyz, que te permite hacer xyz cosas en x menor tiempo. Ingresa y participa por uno de los sorteos que tenemos para que te lleves un kit completamente gratis</h3> </center>
				</div>
			    <div class="col-md-6">
			    	<img src="{% static 'images/product.png' %}"/>
			    </div>
			</div>
			</div>

			<div class="col-md-12"> <center>
				<h2> Ingresa para participar</h2>
				<!-- <input type="text" style="border: 2px solid #008; height: 30px;"></input>
				<button class="btn btn-primary btn-md" style="color: #008; height: 30px">Ingresar</button> -->
				</center>
			</div>

			<div class="button-group"><center>
				<button style="border: 0px; padding: 0px; background-color: transparent;">
				<a href="{% url 'social:begin' 'facebook' %}?next={{ request.path }}">FB</a>
					<img src="{%static 'images/fbook_button.png'%}"/>
				</button>
				
				<button style="border: 0px; padding: 0px; background-color: transparent;">
				<a href="{% url 'social:begin' 'twitter' %}?next={{ request.path }}"></a>
					<img src="{%static 'images/tw_button.png'%}"/>
				</button>

				<button style="border: 0px; padding: 0px; background-color: transparent;">
				<a href="{% url 'social:begin' backend='linkedin-oauth2' %}"></a>
					<img src="{%static 'images/li_button.png'%}"/>
				</button>
			</center>
			</div>

		{% endif %}

</body>
<footer style="padding-top: 100px;">
	<center>Todos los derechos reservados</center>
</footer>
</html>